
/* start blog */
.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .blog-info i,
  .blog-info span,
  .blog-info p {
    color: #9d9d9d;
  }
  
  .blog-info > .blog-view,
  .blog-info > .blog-comment {
    border-right: 1px solid #9d9d9d;
  }
  
  .blog-info > .blog-author > p {
    color: var(--primary-color);
  }
  
  .blog-content > .blog-date {
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 3px solid var(--text-color-white);
    color: var(--text-color-white);
    text-align: center;
    padding: 24px 12px;
    position: absolute;
    left: 40%;
    top: -40px;
  }
  
  .card .blog-content .blog-title a {
    font-family: "Pacifico", cursive;
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-decoration: none;
  }
  
  .card .blog-content .blog-readmore:hover a,
  .card .blog-content .blog-title:hover a {
    transition: all 0.3s linear;
    color: var(--primary-color) !important;
  }
  
  /* subscribe now start */
  .subscribe-us {
    position: relative;
  }
  
  .subscribe-us .content p {
    margin-top: 4px;
    font-size: 14px;
  }
  
  .subscribe-us .subscribe-form .input-form input {
    height: 40px;
    background-color: #f4f4f4;
    box-shadow: none;
    border: none;
    outline: none;
  }
  
  .subscribe-us .subscribe-form .input-button {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .subscribe-us .subscribe-form .input-button a {
    border-left: 1px solid #e2e2e2;
  }
  
  .subscribe-us .subscribe-form .input-button a i {
    color: var(--primary-color);
    padding: 0px 18px;
  }
  
  .subscribe-us img {
    position: absolute;
    width: 250px;
    top: -50px;
  }
  
  /* back to top start */
  
  #back-to-top {
    position: fixed;
    bottom: 20px;  
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  #back-to-top i{
    color: white;
    transition: all 0.3s ease-out;
  }
  
  #back-to-top:hover i {
    transform: translateY(-4px);
  }
  