
/* start footer */

footer {
    /* overflow-x: hidden; */
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #040609;
    background-image: url("./../images/footer-bg.jpg");
  }
  
  footer .social-icons a {
    background-color: #191c1e;
    border-radius: 50%;
    text-align: center;
    padding: 10px 14px;
    transition: all 0.3s ease-in-out;
  }
  
  footer .social-icons a:hover {
    background-color: var(--primary-color);
  }
  
  footer .footer-content .content-desc {
    border-bottom: 1px solid #3a3a3a;
  }
  
  footer p {
    font-size: 14px;
    color: #bcbac1;
  }
  
  .reservation-box {
    margin-top: -130px;
    background-image: url("./../images/ft-res-bg.jpg");
    padding: 25px;
  }
  
  .reservation-box .reservation-wrapper {
    padding: 25px;
    border: var(--text-color-white) 1px solid;
  }
  
  .reservation-box .reservation-wrapper h2 {
    font-family: "Pacifico", cursive;
    font-weight: 300;
    padding-bottom: 20px;
    color: white;
    text-align: center;
  }
  
  .reservation-box .reservation-wrapper h3 {
    text-align: center;
    color: var(--text-color-white);
  }
  
  .reservation-box .reservation-wrapper p {
    color: white;
  }
  
  @media screen and (max-width: 1200px) {
    .reservation-box {
      margin-top: 20px;
    }
  
    .reservation-date-time {
      text-align: center;
    }
  
    footer, main {
      overflow-x: hidden;
    }
  }