
/* our services start */

.icon-box {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    border: 1px dashed #7b7b7b;
    margin-bottom: 20px;
    background-position: center;
    transition-duration: 0.5s;
  }
  
  .icon-box > .number {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    border-radius: 50%;
    border: 2px solid #f3f3f3;
    padding: 4px 12px;
    background-color: #fff;
    color: #3f3e44;
  }
  
  .icon-box:hover > .number {
    border: 2px solid var(--text-color-white);
    background-color: var(--primary-color);
    color: var(--text-color-white);
  }
  
  .icon-box:hover {
    background-color: var(--primary-color);
  }
  
  .icon-box:hover i {
    color: var(--text-color-white);
  }
  
  .icon-box > i {
    color: var(--primary-color);
  }
  
  .our-services h4 {
    font-family: "Pacifico", cursive;
    font-weight: 300;
  }
  
  .our-gallery {
    background-color: #090909;
  }
  
  .gallery-image {
    width: 100%;
    height: 650px;
    background-position: center;
  }
  
  .gallery-image-one {
    background-image: url("../assets/images/gallery-1.jpg");
  }
  
  .gallery-image-two {
    width: 100%;
    height: 325px;
    background-position: center;
    background-image: url("../assets/images/gallery-2.jpg");
  }
  
  .gallery-image-three {
    width: 100%;
    height: 325px;
    background-position: center;
    background-image: url("../assets/images/gallery-3.jpg");
  }
  
  .gallery-image-four {
    background-image: url("../assets/images/gallery-4.jpg");
  }
  
  .gallery-image-five {
    width: 100%;
    height: 325px;
    background-position: center;
    background-image: url("../assets/images/gallery-5.jpg");
  }
  
  .gallery-image-six {
    width: 100%;
    height: 325px;
    background-position: center;
    background-image: url("../assets/images/gallery-6.jpg");
  }
  